<!DOCTYPE html>
<html>
<head>
  <title>Tunr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcome <%= @current_user.try(:name) %></h1>

<nav>
  <ul>
    <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('Sign up', new_user_path) %></li>
    <li><%= link_to('Log in', login_path) %></li>
    <li><%= link_to('Sign out', login_path, :method => :delete) %></li>
  </ul>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
