<h1><%= @artist.name %></h1>
<p>
  <%= link_to 'Delete artist', @artist, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
</p>
<%= image_tag @artist.image, :class => 'portrait' %>
<ul>
  <li>Nationality: <%= @artist.nationality %></li>
  <li>Date of birth: <%= @artist.dob.strftime('%A %B %e, %Y') %></li>
  <li>Period: <%= @artist.period %></li>
</ul>