%h1 Sign Up

- if @user.errors.any?
  %ol
    - @user.errors.full_messages.each do |msg|
      %li= msg

= form_for @user do |f|
  %div.form-group
    = f.label :name
    = f.text_field :name, :autofocus => true, :required => true, :class => 'form-control'

    = f.label :password
    = f.password_field :password, :class => 'form-control'

    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'form-control'

    = f.submit "Sign up"
