<h1>welcome to the matrix</h1>

<div>
  <%= text_field_tag 'number', nil, :autofocus => true %>
  <%= button_tag 'Add Number', :id => 'add_number' %>
  <%= button_tag 'Square', :id => 'square' %>
  <%= button_tag 'Custom Function', :id => 'function' %>
  <%= button_tag 'Start', :id => 'start' %>
  <%= button_tag 'Stop', :id => 'stop' %>
</div>

<div id="boxes"></div>