<h2><%= @planet.name %></h2>
Mass: <%= @planet.mass %>

<%= image_tag @planet.image %>

<%= link_to('Edit planet', planet_edit_path(@planet.id)) %>

<%= button_to('Delete planet', planet_delete_path(@planet.id)) %>