<!DOCTYPE html>
<html>
<head>
  <title>Helpers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('Numbers', numbers_path) %></li>
    <li><%= link_to('Text', text_path) %></li>
    <li><%= link_to('Assets', assets_path) %></li>
    <li><%= link_to('URL', url_path) %></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
